page-spoil {
    ion-title{
        text-align:center;
    }
    // .toolbar-title-md {
    //     font-weight: 600;
    // }
    .bg{
        background-color: #eee;
    }
    ion-segment{
        background-color: white;
    }
    .segment-md .segment-button {
        font-size: 1.7rem;
        font-weight: 500;
        color:black;
    }
    .font{
        color:#4a4a4a;
        font-size:1.3rem;
        font-weight:300;
        margin-left:56%;
    }
    .arrow{
        margin-top:3px;
        width:11px;
        height:16px;
        float:right;
    }
    .item-md h2 {
        font-size: 1.8rem;
        font-weight: 600;
        color:#e51c23;
        margin: 15px 0;
    }
    .item-md ion-avatar img {
        width: 80px;
        height: 80px;
        margin-top:10px;
        margin-bottom:10px;
    }
    .extra{
        margin-top:8px;
        h2{
            font-size:1.9rem;
            color:#4a4a4a;
            font-weight:600;
            margin: 10px 0;
        }
        .redarrow{
            float:right;
            margin-top:-55px;
        }
    }
    .writeicon{
        width: 45px;
        height: 45px;
        border-radius:50%;
        background-color: #e51c23;
        color:white;
        position: fixed;
        right:0px;
        bottom:75px;
    }
    .item-md{
            padding-left: 18px;
        }


       







}