page-agreement {
    .con{
        padding:0;
        margin:0;
    }
    ion-title{
        margin-left: 25%;
        font-weight: bolder;
        font-family: "黑体";
    }
    .agree{
        padding-left:5%;
        padding-right: 5%;
    }
    .p1{
        font-family: "黑体";
        font-size:15px;
        line-height: 25px;
    }
    .p2{
        font-family: "黑体";
        font-size:15px;
        line-height: 25px;
    }
}
