page-addhealre {
    .about_1{
        width: 100%;
        height: auto;
        margin: 0;
        ion-item{
            width: 100%;
            margin:0;
            ion-label{
                margin-left: 18px;
            }
        }
    }
    .note-li{
        font-size: 18px;
        label{
            margin-left: 18px;
        }
        textarea{
          border: 0px;
          width:80%;
          height: 40px;
        }
        span{
            height: auto;
            width: 80%;
        }
      }
}
