<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>管理首页</title>
    <script src="../../javascripts/adapter.js"></script> <!--rem适配js-->
    <link rel='stylesheet' href='../../stylesheets/style.css' />
    <link rel='stylesheet', href='http://at.alicdn.com/t/font_604203_ud0lq1xob1nvobt9.css'>
    <link rel='stylesheet', href='../../stylesheets/normalize.css'>
    <link rel='stylesheet', href='../../stylesheets/login.css'>
    <link rel='stylesheet', href='../../stylesheets/header.css'>
    <link rel='stylesheet', href='../../stylesheets/menu.css'>
    <link rel='stylesheet', href='../../stylesheets/menu1.css'>
    <link rel='stylesheet', href='../../stylesheets/base.css'>    
</head>
<body style="background-color:#f9f9f9">

        <!--header-->
        <% include components/top.inc.ejs%>
        <!--menu-->
        <% include components/menu.inc.ejs%>
          <script src="../../javascripts/menu1.js"></script> <!--控制js--> 
          <div class="admin-app-stage"> 
            <div class="logo" style="float:left;width:60%;margin-top:15%;margin-left:15%;">
                <img src="../../images/biglogo.png">
                <h1 style="float:right;margin-top:8%;margin-right:18%;font-size:4em;color:#cf0000;font-weight:bolder;">APP后台管理首页</h1>
            </div>
        </div>
</body>
</html>