<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>修改密码</title>
    <script src="../../javascripts/adapter.js"></script> <!--rem适配js-->
    <link rel='stylesheet', href='../../stylesheets/normalize.css'>

    <link rel='stylesheet', href='../../stylesheets/header.css'>
    <link rel='stylesheet', href='../../stylesheets/menu.css'>
    <link rel='stylesheet', href='../../stylesheets/menu1.css'>
    <link rel='stylesheet', href='../../stylesheets/base.css'>
    <link rel='stylesheet', href='../../stylesheets/contend.css'>
    <link rel='stylesheet', href='../../stylesheets/p-system-regular.css'>
    <link rel='stylesheet', href='../../stylesheets/base.1.css'>
    <link rel='stylesheet', href='../../stylesheets/admin-all.css'>
    <link rel='stylesheet', href='../../stylesheets/formui.css'>
    <link rel='stylesheet', href='../../stylesheets/p-change-password.css'>
    <script src="../../javascripts/menu1.js"></script> <!--控制js--> 
</head>
<body  style="background-color:#f9f9f9">
        <% include components/top.inc.ejs%>
        <!--menu-->
        <% include components/menu.inc.ejs%>
    <div class="contend">
        <div class="change-password-panel">

                <form action="?" method="post">
                    <label>用户名：</label>
                    <input type="text" placeholder="请输入用户名" name="username"><br>
                    <label>密&nbsp;&nbsp;码：&nbsp;</label>
                    <input type="password" placeholder="请输入密码" name="password"><br>
                    <label>新密码：</label><br>
                    <input class="new-pwd" type="password" placeholder="请输入新密码" minlength="6" name="ps1"><br>
                    <label>再次输入新密码：</label><br>
                    <input class="new-pwd2" type="password" placeholder="请再次输入新密码" minlength="6" name="ps2"><br>
                    <input type="submit" value="修改">
                    <input type="reset" value="重置">
                </form>
                <!-- <form  action="?" method="post"> -->
                  <!-- <span>用户名:</span><br>
                  <input class="origin-pwd" type="text" placeholder="用户名" name="username"><br>
                  <span>旧密码：</span>
                  <input class="origin-pwd" type="password" placeholder="请输入原密码" name="pasword"><br>
                  <span>新密码：</span>
                  <input class="new-pwd" type="password" placeholder="请输入新密码" minlength="6" name="newpassword"><br>
                  <span>再次输入新密码：</span>
                  <input class="new-pwd2" type="password" placeholder="请再次输入新密码" minlength="6" name="newpasswordagain"><br>
                  <input type="submit" value="保存">
                  <input type="reset" value="重置"> -->
                <!-- </form> -->
        </div>
    </div>
</body>
</html