page-addym {
    ion-title{
        text-align: center;
    }
    // .btn{
    //     width: 65%;
    //     color:white;
    //     font-size: 17px;
    //     margin-left: 17%;
    //     text-align: center;
    //     margin-top: 5%;
    // }
    .button-md{
        width: 300px;
        margin-left: 10%;
        margin-top:40px;
        font-size: 20px;
    }
    ion-label{
        padding-left: 5%;
    }
   }
