<!-- menu -->
      <!-- <div class="admin-app-menu"> -->
        <div id="menu">
            <!--隐藏菜单-->
            <div id="ensconce">
                <h2>
                    <img src="../../images/show.png" alt="">
                    管理系统
                </h2>
            </div>
        
            <!--显示菜单-->
            <div id="open">
                <div class="navH">
                   
                    <span><img class="obscure" src="../../images/obscure.png" alt=""></span>
                </div>
                <div class="navBox">
                    <ul>
                        <li>
                            <h2 class="obtain">系统管理<i></i></h2>
                            <div class="secondary" >
                                <a href="/admin/system-manager"><h3>系统管理</h3></a>
                            </div>
                        </li>
                        <li>
                            <h2 class="obtain">用户管理<i></i></h2>
                            <div class="secondary">
                                <a href="/admin/user-manager"><h3>用户管理</h3> </a>
                          
                            </div>
                        </li>
                        <li>
                            <h2 class="obtain">宠物信息管理<i></i></h2>
                            <div class="secondary">
                                <a href="/admin/vaccine-manager"><h3>疫苗接种信息管理</h3></a>
                                <a href="/admin/fosterpet-manager"><h3>寄养宠物信息管理</h3></a>
                                <a href="/admin/takemehome-manager"><h3>带我回家信息管理</h3></a>
                            </div>
                        </li>
                        <li>
                            <h2 class="obtain">文章管理<i></i></h2>
                            <div class="secondary">
                                <a href="/admin/artical-manager"><h3>文章管理</h3></a>
                            </div>
                        </li>
                        <li>
                            <h2 class="obtain">反馈管理<i></i></h2>
                            <div class="secondary">
                                <a href="/admin/feedback-manager"><h3>反馈管理</h3></a>
                            </div>
                        </li>
                        <li>
                            <h2 class="obtain">密码管理</h2>
                            <div class="secondary">
                                <a href="/admin/password-manager"><h3>修改密码</h3></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
  <!-- </div> -->