<!-- herder -->
<div class="admin-app-header">
    <div class="title"><h1>I &nbsp;宠管理后台</h1></div>
    <div class="account">
      <div class="logo"><img src="../../images/logo.png" class="imagelogo"></div>
      <a href="/admin/login"><span>注销</span></a>
      
      <!-- <div class="account-menu">
        <i class="iconfont icon-sign-out"></i>
        <span>&nbsp;注销</span>
      </div> -->
    </div>
  </div>