page-addpet {
    .add_tou ion-icon{
        margin-top: 110px;
        float: left;
        position: relative;
        z-index: 1;
        margin-left: 56%;
        font-size: 27px;
        margin-bottom: 20px;
        color: #cf0000;
    }
    .add_tou_xiang{
        border-radius: 50%;
        width: 92px;
        height: 92px;
        margin-left: 42%;
        margin-top: 30px;      
        float: left;
        position: absolute;;
        z-index: 0; 
        border: 3px solid #cf0000;
    }
    .add_name ion-label{
        margin-left: 18px;
        font-size: 20px;
    }
    .add_name ion-input{
        margin-left: 25px;
    }
    .add_sex {
       padding-left: 18px;
       padding-right: 20px;
       font-size: 20px;
    }
    .add_sex ion-icon[name="female"]{
        color:  rgb(247, 127, 147);
        margin-right: 10px;
        font-size: 20px;
    }
    .add_sex ion-icon[name="male"]{
        color:  rgb(71, 212, 236);
        margin-right: 10px;
        font-size: 20px;
    }
    .select{
        padding-left: 18px;
        padding-right: 20px;
        font-size: 20px;
    }
    .date{
        padding-left: 18px;
        padding-right: 20px;
        font-size: 20px;
    }
    

}
