ion-slide {
    background-color: #eeeeee;
}
page-start{
    .bg{
        background-image: url("../assets/imgs/qidong4.png");
        background-size: 100%;
    }
}
img{
    position:relative;
}
.qidong-button {
    margin-top:480px;
    position:relative;
}
.qidong-btn{
    font-size: 20px;
}
