page-home {

}
// .bgc{
//     background-color: #FCFAFC;
// }

.head{
    // margin: 300px;
    width: 100%;
    height:200px ;
    background-image: url("../assets/imgs/headimg.png");

    background-repeat: no-repeat; 
    //背景全覆盖
    background-size: cover;
    // background:rgba(0,0,0,0.5)；
    // opacity: 0.6;这个属性使内容也透明
    z-index:20;
}
.up{
z-index: 30;
}
.imgtest{
    margin-top: 1px;
    margin-left: 3.7%;
    width:70px;
    height:70px;
    border-radius:80px;
    overflow:hidden;
    float: left;
    display: inline;
    }
.content-div{
    padding-top: 65px;
}
.h2-div{
    display: inline;
    float: left;
    font-weight: bolder;
    padding-left: 10px;
    margin-top: 5px;
}
.tixing{
    margin-top: 8px;
    margin-left: 8px;
}
#delete{
   font-size: 2.0em;
} 